body.smvmt-padded-layout::before, body.smvmt-padded-layout::after {
  background: inherit;
  content: "";
  display: block;
  height: 0;
  right: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
}

body.smvmt-padded-layout::after {
  bottom: 0;
}

body.smvmt-padded-layout {
  background-attachment: fixed;
}

body.smvmt-padded-layout::before {
  top: 0;
}

@media (min-width: 44.375em) {
  body.smvmt-padded-layout.admin-bar::before {
    top: 46px;
  }
}

@media (min-width: 48.9375em) {
  body.smvmt-padded-layout.admin-bar::before {
    top: 32px;
  }
}
