.smvmt-header-break-point {
	.smvmt-mobile-menu-buttons {
		text-align: right;
		display: flex;
		justify-content: flex-end;
	}

	.smvmt-mobile-menu-buttons{
		.smvmt-button-wrap{
			.smvmt-mobile-menu-buttons-minimal{
				font-size: 1.7em;
			}
		}
	}
}
