/*----------  Media Query min-width Structure   ----------*/
/*----------  Media Query max-width Structure   ----------*/
/*----------  Break-point min-width Structure   ----------*/
/*----------  Break-point max-width Structure   ----------*/
/**
 * 	Sticky Header Layouts
 */
.smvmt-sticky-active {
  position: fixed !important;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  /** Internet browser does move the sticky header to the left side due to `margin: 0 auto;`. To fix this we have set the 100% width. */
}

.smvmt-nav-up {
  transform: translateY(-100%);
}

.site-header .sticky-custom-logo {
  display: none;
}

.smvmt-primary-sticky-header-active li.smvmt-masthead-custom-menu-items a,
.smvmt-primary-sticky-header-active li.smvmt-masthead-custom-menu-items a:hover,
.smvmt-primary-sticky-header-active li.smvmt-masthead-custom-menu-items a:focus {
  background: transparent;
}

.smvmt-offcanvas-active .smvmt-above-header,
.smvmt-fullscreen-active .smvmt-above-header {
  z-index: 4;
}

.smvmt-offcanvas-active .smvmt-above-header.smvmt-sticky-active,
.smvmt-fullscreen-active .smvmt-above-header.smvmt-sticky-active {
  z-index: 0;
}

#smvmt-fixed-header {
  position: fixed;
  visibility: hidden;
  top: 0;
  right: 0;
  width: 100%;
}

#smvmt-fixed-header .main-header-bar {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

#smvmt-fixed-header.smvmt-header-slide {
  transform: translateY(-100%);
  transition: transform 0.3s linear, top 0.3s linear, visibility 0.3s linear;
}

#smvmt-fixed-header.smvmt-header-fade {
  opacity: 0;
  transition: opacity 0.3s linear;
}

.main-header-bar.smvmt-sticky-active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.smvmt-sticky-custom-logo .smvmt-header-sticked .custom-logo-link,
.smvmt-sticky-custom-logo .smvmt-header-sticked .custom-mobile-logo-link {
  display: none;
}

.smvmt-sticky-custom-logo .smvmt-header-sticked .sticky-custom-logo {
  display: inline-block;
}

.smvmt-sticky-custom-logo .smvmt-header-sticked .site-title,
.smvmt-sticky-custom-logo .smvmt-header-sticked .site-description {
  display: none;
}

.smvmt-sticky-custom-logo.smvmt-primary-sticky-header-active.smvmt-header-break-point.smvmt-replace-site-logo-transparent.smvmt-theme-transparent-header .transparent-custom-logo {
  display: none;
}

.smvmt-header-stick-slide-active .smvmt-sticky-custom-logo.smvmt-primary-sticky-header-active.smvmt-header-break-point.smvmt-replace-site-logo-transparent.smvmt-theme-transparent-header .transparent-custom-logo,
.smvmt-header-stick-fade-active .smvmt-sticky-custom-logo.smvmt-primary-sticky-header-active.smvmt-header-break-point.smvmt-replace-site-logo-transparent.smvmt-theme-transparent-header .transparent-custom-logo,
.smvmt-header-stick-scroll-active .smvmt-sticky-custom-logo.smvmt-primary-sticky-header-active.smvmt-header-break-point.smvmt-replace-site-logo-transparent.smvmt-theme-transparent-header .transparent-custom-logo {
  display: inline-block;
}

.smvmt-sticky-main-shrink {
  /* Mobile Header */
}

.smvmt-sticky-main-shrink .smvmt-sticky-shrunk.main-header-bar,
.smvmt-sticky-main-shrink .smvmt-sticky-shrunk .main-header-bar {
  line-height: 55px;
}

.smvmt-sticky-main-shrink .smvmt-sticky-shrunk.main-header-bar .smvmt-site-identity,
.smvmt-sticky-main-shrink .smvmt-sticky-shrunk .main-header-bar .smvmt-site-identity {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.smvmt-sticky-main-shrink .smvmt-sticky-shrunk #site-navigation {
  line-height: 3;
}

.smvmt-sticky-main-shrink .smvmt-sticky-shrunk .site-logo-img img {
  max-height: 55px !important;
  width: auto;
}

.smvmt-sticky-main-shrink.smvmt-header-break-point .smvmt-sticky-shrunk .main-header-bar, .smvmt-sticky-main-shrink.smvmt-header-break-point .smvmt-sticky-shrunk.main-header-bar {
  padding-bottom: 0;
}

.smvmt-sticky-main-shrink.smvmt-header-break-point .smvmt-sticky-shrunk .smvmt-mobile-menu-buttons {
  line-height: 0;
  padding-bottom: 0.5em;
}

.smvmt-sticky-main-shrink.smvmt-header-break-point .smvmt-sticky-shrunk .site-branding {
  padding-bottom: 0.5em;
}

.smvmt-header-break-point .smvmt-sticky-active .sticky-custom-logo img {
  display: block;
}

.smvmt-header-break-point .smvmt-has-mobile-header-logo .smvmt-header-sticked .sticky-custom-logo img {
  display: block;
}

.smvmt-header-break-point .smvmt-has-mobile-header-logo .smvmt-header-sticked .smvmt-mobile-header-logo {
  display: none;
}

.smvmt-header-break-point .smvmt-header-sticked .sticky-custom-logo img {
  display: block;
}

.smvmt-header-break-point.smvmt-inherit-site-logo-sticky .smvmt-has-mobile-header-logo .smvmt-header-sticked .custom-logo-link img {
  display: none;
}

.smvmt-header-break-point.smvmt-inherit-site-logo-sticky .smvmt-has-mobile-header-logo .smvmt-header-sticked .custom-mobile-logo-link img {
  display: inline-block;
}

.above-header-toggle-on .main-header-bar {
  z-index: 1;
}

.smvmt-header-stick-slide-active .smvmt-flyout-menu-enable.smvmt-header-break-point #masthead .main-header-bar-navigation {
  display: none !important;
}

.smvmt-header-stick-fade-active .smvmt-flyout-menu-enable.smvmt-header-break-point #masthead .main-header-bar-navigation {
  display: none !important;
}

.smvmt-flyout-menu-overlay .smvmt-stick-primary-below-wrapper.smvmt-sticky-active {
  z-index: 5;
}

.smvmt-fullscreen-menu-overlay #smvmt-fixed-header {
  z-index: 9;
}

/**
 * Need to override the overflow-y which is given form the javascript
 * To fix the rendering problem with the flyout menu
 */
.smvmt-flyout-menu-enable.smvmt-primary-sticky-enabled .main-header-bar,
.smvmt-flyout-menu-enable.smvmt-primary-sticky-enabled .smvmt-stick-primary-below-wrapper {
  overflow-y: unset !important;
}
